.app-header{
    display: -webkit-box;
    background-color: #222;
    height: 36px;
    padding:8px 32px 8px 16px;
}
.app-logo{
    background-color: #ff7f7f;
    height: 35px;
    -webkit-animation:rotate 8s linear infinite;
    -moz-animation:rotate 8s linear infinite;
    animation:rotate 8s linear infinite;
    
}
.upcoming-movies-header{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

@-moz-keyframes rotate { 
    from { -moz-transform: scale( 1 ) rotateY( 0deg );   }
    to   { -moz-transform: scale( 1 ) rotateY( 360deg ); }
}
@-webkit-keyframes rotate { 
    from { -webkit-transform: scale( 1 ) rotateY( 0deg );   }
  to   { -webkit-transform: scale( 1 ) rotateY( 360deg ); }
}
@keyframes rotate { 
    from { -webkit-transform: scale( 1 ) rotateY( 0deg );   }
  to   { -webkit-transform: scale( 1 ) rotateY( 360deg ); }
}

.user-auth-actions{
    margin-left: auto;
    margin-right: 0;
}

.app-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}
